body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.row {
  display: flex;
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0px;
  height: 400px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: rgb(40 189 168);
  color: rgb(5, 5, 5);
  background-image: url(/img/fitem3.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.about-section h1 {
  background-color: aquamarine;
}

.container1 {
  padding: 0px 10px;
  text-align: center;
}

.title {
  color: grey;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.fa {
  padding: 10px;
  font-size: 10px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 0px;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: #4267b2;
}

.fa-twitter {
  color: #00acee;
}

.fa-google {
  color: #4285f4;
}

.fa-linkedin {
  color: #0e76a8;
}

.fa-instagram {
  color: #3f729b;
}
